*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
body,html{
    background:linear-gradient(to right,#181b25 ,#0f131e )  !important;
    /* background-color: #181b25; */
    /* width: 100vw; */
    height: 100vh;

}

